@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

/* font-family: "Pacifico", cursive; */

#login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #272727;
  color: rgba(233, 27, 16, 0.8);
  /* color: #ffff00; */

  font-family: "Pacifico", cursive;
}

#login-box {
  height: 400px;
  width: 380px;
  background: lightgray;
  display: flex;
  flex-direction: column;
}

#login-h1 {
  text-align: center;
}

#username-login,
#password-label-login {
  margin: 1rem 1rem 1rem 5rem;
}

#username-input-login,
#password-input-login {
  width: 220px;
  align-self: center;
}

#loginBtn {
  padding: 0.4rem;
  margin-top: 2rem;
  cursor: pointer;
}

#login-submit-btn {
  align-self: center;
}

#register-paragraph {
  text-align: center;
  cursor: pointer;
}

#register-paragraph:hover {
  text-align: center;
  cursor: pointer;
  background: #ffff00;
  color: rgba(233, 27, 16, 0.8);
}
