@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

/* font-family: "Great Vibes", cursive;
   font-family: "Pacifico", cursive; */

body {
  height: 100vh;
  background: #272727;
  margin: 0;
  width: 100%;
}

.header {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;

  background: #272727;

  color: #ffff00;
  font-size: 1.8rem;
  border: none;
  font-family: "Pacifico", cursive;
  text-align: center;
  outline: none;
}

.btn:hover {
  font-family: "Pacifico", cursive;
  color: rgba(233, 27, 16, 0.8);
  border-radius: 20px;

  background: #ffff00;
  box-shadow: 3px 3px 30px rgba(233, 27, 16, 0.8),
    -10px -10px 30px rgba(233, 27, 16, 0.8);
  outline: none;
}

.login {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin-left: 5px;

  background: #272727;

  color: #ffff00;
  font-size: 1.8rem;
  border: none;
  font-family: "Pacifico", cursive;
  text-align: center;
  outline: none;
  order: 4;
}

.login:hover {
  font-family: "Pacifico", cursive;
  color: rgba(233, 27, 16, 0.8);
  border-radius: 20px;
  border: none;

  background: #ffff00;
  box-shadow: 3px 3px 30px rgba(233, 27, 16, 0.8),
    -10px -10px 30px rgba(233, 27, 16, 0.8);
  outline: none;
}

#loginBtn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 30px;
  order: 3;
}

#movBtn {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.home {
  width: 100px;
  margin-left: 30px;
}

.movie-sub-buttons {
  text-align: center;
}
