@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");

body {
  height: 100vh;
  background: linear-gradient(145deg, #171717, #1b1b1b);
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px 0px 10px;
  border-radius: 30px;

  background: #171717;
  box-shadow: 15px 15px 30px #131313, -15px -15px 30px #1f1f1f;

  color: #ffff00;
  font-size: 1.8rem;
  border: none;
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.btn:hover {
  font-family: "Great Vibes", cursive;
  color: rgba(233, 27, 16, 0.8);
  background: #ffff00;
  box-shadow: 3px 3px 30px rgba(233, 27, 16, 0.8),
    -10px -10px 30px rgba(233, 27, 16, 0.8);
}

#login {
  padding: 10px 15px 0px 10px;
  border-radius: 30px;

  background: #171717;
  box-shadow: 15px 15px 30px #131313, -15px -15px 30px #1f1f1f;

  color: #ffff00;
  font-size: 1.8rem;
  border: none;
  font-family: "Great Vibes", cursive;
  text-align: center;
}

#login:hover {
  font-family: "Great Vibes", cursive;
  color: rgba(233, 27, 16, 0.8);
  background: #ffff00;
  box-shadow: 3px 3px 30px rgba(233, 27, 16, 0.8),
    -10px -10px 30px rgba(233, 27, 16, 0.8);
}

.anchBtn {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.movBtn {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
