html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.header {
  display: flex;
  flex-wrap: wrap;
  height: 104px;
  z-index: 1;
}

.btn {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;

  background: black;

  color: #ffffff;
  font-size: 2.8rem;
  border: none;
  font-family: "Geo", sans-serif;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  font-family: "Geo", sans-serif;
  color: rgba(233, 27, 16, 0.8);
  border-radius: 20px;

  background: #ffffff;
  box-shadow: 3px 3px 30px rgba(233, 27, 16, 0.8),
    -10px -10px 30px rgba(233, 27, 16, 0.8);
  outline: none;
}

#home {
  order: 0;
}

.login {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin-left: 5px;

  background: black;

  color: #ffffff;
  font-size: 2.8rem;
  border: none;
  font-family: "Geo", sans-serif;
  text-align: center;
  outline: none;
  order: 4;
  cursor: pointer;
}

.login:hover {
  font-family: "Geo", sans-serif;
  color: rgba(233, 27, 16, 0.8);
  border-radius: 20px;
  border: none;

  background: #ffffff;
  box-shadow: 3px 3px 30px rgba(233, 27, 16, 0.8),
    -10px -10px 30px rgba(233, 27, 16, 0.8);
  outline: none;
}

#loginBtnHeader {
  margin-left: auto;
  order: 3;
  margin-top: 20px;
  margin-right: 50px;
}

#loginBtn {
  margin-top: 20px;
  margin-right: 20px;
  order: 3;
}

#movBtn {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  order: 1;
}

.home {
  width: 100px;
  margin-left: 30px;
  cursor: pointer;
}

.movie-sub-buttons {
  text-align: center;
}

#registerBtn {
  padding: 0;
  order: 5;
  margin-right: 5rem;
}

.register {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin-top: 20px;

  background: black;

  color: #ffffff;
  font-size: 2.8rem;
  border: none;
  font-family: "Geo", sans-serif;
  outline: none;
  cursor: pointer;
}

.register:hover {
  font-family: "Geo", sans-serif;
  color: rgba(233, 27, 16, 0.8);
  border-radius: 20px;
  border: none;

  background: #ffffff;
  box-shadow: 3px 3px 30px rgba(233, 27, 16, 0.8),
    -10px -10px 30px rgba(233, 27, 16, 0.8);
  outline: none;
}

@media (max-width: 575.99px) {
  .home {
    width: 60px;
    margin-top: 10px;
    margin-left: 10px;
  }
  #movBtn {
    width: 70px;
    margin-left: 10px;
  }
  .movies {
    font-size: 1rem;
  }
  #loginBtn {
    width: 70px;
    margin-left: -5px;
  }
  .login {
    font-size: 1rem;
  }
  #registerBtn {
    width: 70px;
    margin-left: -20px;
    margin-right: -100px;
  }
  .register {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .home {
    width: 90px;
    margin-top: 10px;
    margin-left: 10px;
  }
  #movBtn {
    width: 150px;
    margin-left: 10px;
    margin-top: 30px;
  }
  .movies {
    font-size: 1.2rem;
  }
  #loginBtn {
    width: 110px;
    margin-left: -5px;
    margin-top: 27px;
  }
  .login {
    font-size: 1.2rem;
  }
  #registerBtn {
    width: 110px;
    margin-left: -50px;
    margin-right: -100px;
    margin-top: 7px;
  }
  .register {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
