#img {
  display: flex;
    height: 36px;
    margin-top: 35px;
    order: 3;
    margin-right: 70px;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px 1px 1px 3px;
}

.showDropdown {
  display: none;
}

.hiddenDropdown {
  display: block;
}



#input {
  text-align: center;
  margin-top: 45px;
  margin-right: 5px;
  width: 220px;
  height: 30px;
  border-radius: 40px;
  outline: 0;
  border: 1px solid black;
  background-color: #eeee3f;
  display: none;
}

#input-div {
  order: 2;
  margin-left: auto;
}