#advancedBox {
  height: auto;
  width: auto;
  color: white;
  font-size: 1.2rem;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  margin-left: -100px;
}

#advancedBox p {
  margin: 0;
}
#genreBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
