#advancedBox {
  /* display: none; */
  height: 25rem;
  overflow: auto;
  padding: 10px;
  color: whitesmoke;
  margin-top: 50px;

  background-color: black;
  border-radius: 8px;
  box-shadow: 1px 1px #000000d5, 2px 2px #000000d5, 3px 3px #000000d5;

  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.search-title-input {
  height: 20px;
  width: 190px;
}

#advancedBox p {
  margin: 0;
  padding-bottom: 3px;
  padding-top: 10px;
  font-weight: bold;
  font-family: "Geo", sans-serif;
  font-size: large;
}

#advancedBox input {
  padding-left: 5px;
  outline: none;
}

#advancedBox select {
  padding-left: 5px;
  outline: none;
  height: 20px;
  cursor: pointer;
}

#genreBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

#chooseType {
  display: flex;
  justify-content: space-around;
}

#typeMovie,
#typeSeries {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#last-search {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 7px 12px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
  width: fit-content;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  align-self: center;
}

#last-search:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
  color: black;
}

#searchButtonBox {
  display: flex;
  justify-content: center;
}
