@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

.allMovieButtons {
  color: white;
  font-size: 1rem;
  text-align: end;
}

.filter-p {
  color: #ffff00;
  font-size: 1.4rem;
  border: none;
  outline: none;
  font-family: "Pacifico", cursive;
}

.filter-p:hover {
  color: rgba(233, 27, 16, 0.8);
  outline: none;
  font-family: "Pacifico", cursive;
}

.hide-this-item {
  display: none;
}
