.logout-button {
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  margin-left: 5px;

  background: black;

  color: #ffffff;
  font-size: 2.8rem;
  border: none;
  font-family: "Geo", sans-serif;
  text-align: center;
  outline: none;
  order: 4;
  cursor: pointer;
}

.logout-button:hover {
  font-family: "Geo", sans-serif;
  color: rgba(233, 27, 16, 0.8);
  border-radius: 20px;
  border: none;

  background: #ffffff;
  box-shadow: 3px 3px 30px rgba(233, 27, 16, 0.8),
    -10px -10px 30px rgba(233, 27, 16, 0.8);
  outline: none;
}

#logOut-div {
  margin-top: 20px;
  margin-right: 20px;
  order: 3;
}