#carousselWrapID {
  width: 900px;
  height: 900px;
  border: 2px solid red;
}

#outsideCarousselID {
  width: 900px;
  height: 900px;
  border: 2px solid blue;
}

#carousselTitleDivID {
  border: 2px solid white;
  height: 100px;
  width: 900px;
}

.innerDivClass {
  background: orange;
  width: 200px;
  height: 300px;
  display: inline-block;
  margin: 0px 10px;
}

#carousselWrapID,
#outsideCarousselID,
#carousselTitleDivID,
.innerDivClass {
  margin: 0px auto;
}
