@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

/* font-family: "Pacifico", cursive; */

#single-movie-page {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
}

#main-div {
  display: flex;
}

#movie-content {
  display: flex;
}

#single-movie-poster {
  margin: 2rem;
}

#poster-wrapper {
  margin-top: 3rem;
  margin-left: 2rem;
}

.single-movie-title {
  font-size: 2rem;
}

.movie-facts {
  font-size: 1.4rem;
}

.poster-info p {
  font-size: 1rem;
}
