@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* font-family: "Pacifico", cursive; */

#single-movie-page {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  font-family: "Pacifico", cursive;
}

#main-div {
  display: flex;
}

#movie-content {
  display: flex;
}

#single-movie-poster {
  margin: 2rem;
}

#poster-wrapper {
  margin-left: 6rem;
}

.single-movie-title {
  font-size: 3rem;
  margin: 0;
}

.movie-facts {
  font-size: 1.8rem;
}

.poster-info p {
  font-size: 1.4rem;
  font-weight: bold;
}

.poster-info {
  margin-top: 4rem;
}

.single-poster-img {
  height: 35.938rem;
}
