@import url("https://fonts.googleapis.com/css?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

body {
  display: flex;
  flex-direction: column;
}

.pagination-div {
  display: flex;
  justify-content: center;
}

#pages-container {
  display: flex;
}

.nr-of-pages {
  display: flex;
  color: white;
  font-size: 1.2rem;
  border-radius: 50%;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid #68095b;
  font-family: "Pacifico", cursive;
  margin-bottom: 10px;
  cursor: pointer;
}

.actives,
.nr-of-pages:hover {
  background-color: black;
  color: white;
}

.next {
  display: flex;
  color: red;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  border: 1px solid #68095b;
  font-family: "Pacifico", cursive;
  margin-bottom: 10px;
  margin-left: 10px;
}

.next:hover {
  background-color: black;
  border: 1px solid rgba(255, 255, 0, 0.788);
}

.previous {
  display: flex;
  color: red;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: transparent;
  border: 1px solid #68095b;
  font-family: "Pacifico", cursive;
  margin-bottom: 10px;
  margin-left: 10px;
}

.previous:hover {
  background-color: black;
  border: 1px solid rgba(255, 255, 0, 0.788);
}

#movie-page {
  flex-direction: column;
  padding-top: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
}

#movie-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  justify-content: space-evenly;
}

.movie-page-container {
  display: flex;
}

.posters img {
  height: 430px;
  width: 300px;
  border-radius: 10%;
}

.posters img:hover {
  /*border: 1.5px solid rgba(255, 0, 0, 0.486);*/
  cursor: pointer;
  box-sizing: border-box;
}

.posters {
  height: 520px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.posters p {
  display: flex;
  color: red;
  font-size: 0.85rem;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px;
}

.delete-single-movie {
  align-self: flex-end;
  cursor: pointer;
  color: white;
  padding: 5px;
  background: black;
}
