@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

/* font-family: "Pacifico", cursive; */

#form-container {
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #272727;
  color: rgba(233, 27, 16, 0.8);
  /* color: #ffff00; */

  font-family: "Pacifico", cursive;
}

#register-box {
  height: 630px;
  width: 420px;
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#username-input,
#email-input,
#password-input {
  outline: none;
}

#register-h1 {
  text-align: center;
}

#register-msg {
  text-align: center;
  margin-bottom: 2rem;
}

#username,
#email-label,
#password-label {
  margin: 1rem 1rem 1rem 3.5rem;
}

#username-input,
#email-input,
#password-input {
  width: 18.75rem;
  align-self: center;
}

#register-message {
  text-align: center;
  margin: 0;
}

/* #registerBtn {
  align-self: center;
  margin-top: 1.4rem;
  color: rgba(233, 27, 16, 0.8);
  background: #272727;
  outline: none;

  padding: 1rem;
  cursor: pointer;
} */

::placeholder {
  color: rgba(233, 27, 16, 0.8);
}

#existing-acc {
  text-align: center;
  cursor: pointer;
}

#existing-acc:hover {
  text-align: center;
  cursor: pointer;
  background: #ffff00;
  color: rgba(233, 27, 16, 0.8);
}

#register-btn-form {
  margin-top: 2.4rem;
}
